$blue: #2ea8e6;
.product {
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  margin: 0 15px 40px;

  &:hover {
    transform: translateY(-5px);
  }

  &_not-available {
    .card {
      filter: grayscale(80%);
      color: #b3b3b3 !important;
    }
    .subtitle {
      color: rgba(255, 255, 102, 1) !important;
    }
  }

  .card {
    width: 320px;
    height: 480px;
    background-color: $blue;
    position: relative;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
    border-radius: 12px;

    &__container {
      width: 312px;
      height: 472px;
      background-color: #fff;
      position: relative;
      top: 4px;
      left: 4px;
      clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
      border-radius: 12px;
      overflow: hidden;
    }
    &__img {
      width: 120%;
      position: absolute;
      bottom: -20%;
      left: -11%;
    }
  }

  font-family: "Trebuchet MS";

  &__info {
    padding: 21px 0 0 51px;
  }

  &__label {
    color: #666;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    span {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__desc {
    span {
      font-weight: 700;
      margin-right: 3px;
    }
    color: #666;
    margin-top: 15px;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    width: 127px;
  }

  &__weight {
    background-color: $blue;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding-top: 10px;
  }

  .weight {
    color: #fff;
    &__value {
      font-weight: 400;
      font-size: 42px;
      line-height: 22px;
    }
    &__measure {
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
    }
  }

  .subtitle {
    margin: 14px 0 0 0;
    text-align: center;
    color: #fff;
    font-family: "Trebuchet MS";
    &__text {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
    }
    &__link {
      margin-left: 3px;
      border-bottom: dashed 1px $blue;
    }
  }
}
