$blue: #2ea8e6;
$pink: #e52e7a;
$yellow: #ffff66;
.product {
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 20px 40px;

  @media screen and (max-width: 425px) {
    margin: 0 5px 40px;
  }

  &_not-available {
    .card {
      -webkit-filter: grayscale(80%);
      filter: grayscale(80%);
      color: #b3b3b3 !important;
    }
    .subtitle {
      color: $yellow !important;
    }
  }

  &_selected {
    transform: translateY(-15px);
    scale: 1.02;
    .card {
      background-color: $yellow !important;
    }
  }

  .card {
    width: 320px;
    height: 480px;
    @media screen and (max-width: 425px) {
      width: 300px;
      height: 450px;
    }
    background-color: $blue;
    position: relative;
    -webkit-clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
    border-radius: 12px;
    transition: 0.3s;

    &__container {
      width: 312px;
      height: 472px;
      @media screen and (max-width: 425px) {
        width: 292px;
        height: 442px;
      }
      background-color: #fff;
      position: relative;
      top: 4px;
      left: 4px;
      -webkit-clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
      clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
      border-radius: 12px;
      overflow: hidden;
    }
    &__img {
      width: 120%;
      position: absolute;
      bottom: -20%;
      left: -11%;
    }
  }

  .card_pink-bg {
    background-color: $pink;
    .weight {
      background-color: $pink;
    }
  }

  font-family: "Trebuchet MS";

  &__info {
    padding: 21px 0 0 51px;
  }

  &__label {
    color: #666;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  &__label_pink-color {
    color: $pink;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    span {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__desc {
    span {
      font-weight: 700;
      margin-right: 3px;
    }
    color: #666;
    margin-top: 15px;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    width: 127px;
  }

  &__weight {
    background-color: $blue;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-16px, -16px);
    padding-top: 10px;
  }

  .weight {
    color: #fff;
    &__value {
      font-weight: 400;
      font-size: 42px;
      line-height: 22px;
    }
    &__measure {
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
    }
  }

  .subtitle {
    margin: 14px 0 0 0;
    text-align: center;
    color: #fff;
    font-family: "Trebuchet MS";
    &__text {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
    }
    &__link {
      margin-left: 3px;
      border-bottom: dashed 1px $blue;
    }
  }
}

// ._selected {
//   transform: translateY(-5px);
// }
